{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center mt-5">
        <h2 class="mb-4 text-primary">Sistema de Gestão</h2>
        <div class="d-grid gap-3">
            <a href="/checkin" class="btn btn-outline-success btn-lg">🛎️ Novo Check-in</a>
            <a href="/consumo" class="btn btn-outline-warning btn-lg">🛒 Lançar Consumo</a>
            <a href="/checkout" class="btn btn-outline-danger btn-lg">🧾 Realizar Check-out</a>
        </div>
    </div>
</div>
{% endblock %}